<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <%- include('common/header')%>
    
    <h1>Welcome <%= user.name %></h1><br>
    <h4>Email: <%= user.email %></h4><br>
    <h4>city: <%= user.city %></h4>

    <ul>
        <% user.skills.forEach((item) => { %>
            <li> <%= item%> </li>
        <% })%>
    </ul>
    
</body>
</html>